<a href="https://colab.research.google.com/github/bjkc/Data-visualization/blob/main/project6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#project 6

bijay raj kc

discrete mathmatics

Below i will convert 24036 with base 7 to base 10

In [1]:
x = 0
y = 0
number = '24036'
base = 7
for c in map(int, number):
  y += 1
  x += c * (base**(len(number) - y))
x

6201

In [2]:
(2*7**4)+(4*7**3)+(0*7**2)+(3*7**1)+(6*7**0)

6201

got the same result with those different input above now i will convert hexadecimal 72e3 to base 10

In [3]:
x = 0
y = 0
number = '72e3'
numberLength = len(number)

for i in number:
    
    y += 1
    if i == 'a':
      I = 10

    elif i == 'b':
      I = 11

    elif i == 'c':
      I = 12

    elif i == 'd':
      I = 13

    elif i == 'e':
      I = 14

    elif i == 'f':
      I = 15

    else:
      I = int(i)

    x += I * (16**(numberLength - y))
x

29411

In [4]:
int('0x72e3',16)

29411

Now i will be converting  3735928559 to hexadecimal

In [5]:
number = 3735928559
x = 0
hex = ""
for k in range(0,8,1):
  numd = int(number%16)
  number = number - numd
  number = number/16
  if numd > 9:
    if numd == 10: numd = "A"
    elif numd == 11: numd = "B"
    elif numd == 12: numd = "C"
    elif numd == 13: numd = "D"
    elif numd == 14: numd = "E"
    elif numd == 15: numd = "F"
    elif numd == 16: numd = 10
    numd = str(numd)
  hex = numd+hex
print(hex)

DEADBEEF

 till now i think it is little harder to write the proper codes for calculation than other.