<a href="https://colab.research.google.com/github/bjkc/Data-visualization/blob/main/SQL%20and%20bigQuery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL AND BigQuery

In [3]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

Now that I am authenticated, I can start to play around in the dataset.

In [7]:
%%bigquery --project data-visualization-bjkc
SELECT 
  COUNT(*) as total_rows
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

   total_rows
0     1424786

In [8]:
%%bigquery --project data-visualization-bjkc
SELECT 
  max(duration_minutes)
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

     f0_
0  34238

In [9]:
%%bigquery --project data-visualization-bjkc
SELECT 
  AVG(duration_minutes) 
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

         f0_
0  30.870428

In [11]:
%%bigquery --project data-visualization-bjkc
SELECT  *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
LIMIT 5

      trip_id  ... duration_minutes
0  9900289692  ...               39
1  9900285987  ...               31
2  9900285989  ...               31
3  9900285991  ...               30
4  9900286140  ...               19

[5 rows x 9 columns]

In [24]:
%%bigquery --project data-visualization-bjkc df
SELECT
 duration_minutes
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

In [25]:
df

         duration_minutes
0                      47
1                      59
2                      58
3                      82
4                      76
...                   ...
1424781                43
1424782                43
1424783                43
1424784                43
1424785                43

[1424786 rows x 1 columns]

In [27]:
import pandas as pd
groupeddf = df.groupby('duration_minutes')

In [28]:
maxdf = groupeddf.max()

In [29]:
maxdf

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[2142 rows x 0 columns]

In [30]:
print(df['duration_minutes'].max())

34238

In [31]:
print(df['duration_minutes'].mean())

30.870427558945693